@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  padding: 1em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}
.header__left {
  display: inline-block;
}
.header__left--logo {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}
.header__left--logo--H {
  display: inline-block;
  font-size: 1em;
}
.header__left--logo--name {
  display: inline-block;
  font-size: 1em;
}
.header__right {
  float: right;
}
.header__right--person {
  margin-right: 1em;
}
.header__menu {
  display: none;
  width: 100%;
}
.header__menu--items {
  list-style-type: none;
}
.header__menu--items--link {
  text-decoration: none;
  color: black;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 600;
  margin: 1em;
}

.main__info {
  background-color: #333;
  color: white;
  padding: 3em 1em;
}
.main__info--slogan {
  width: 60%;
  font-family: "Archivo";
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}
.main__info--title {
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.main__info--bt {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 50%;
  display: block;
  color: white;
}
.main__info--btTour {
  background-color: #BEAD8E;
  border: none;
  margin-bottom: 2em;
}
.main__info--btLearn {
  background-color: #222;
  border: 2px solid rgba(255, 255, 255, 0.33);
  margin-bottom: 2em;
}

.main__availability {
  padding: 2em 1em;
  background-color: #222;
  color: white;
}
.main__availability--form {
  display: flex;
  flex-direction: column;
}
.main__availability--form-text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
}
.main__availability--form-input {
  margin-bottom: 2em;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: #222;
  color: #686868;
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 400;
}
.main__availability--form-bt {
  background-color: #BEAD8E;
  padding: 1.5em 2em;
  width: 60%;
  border: none;
  color: white;
}

.main__about {
  margin-top: 4em;
}
.main__about--underground {
  background-color: #F9F9F9;
  padding: 2em 1em 6em;
}
.main__about--underground--info {
  color: #777;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}
.main__about--underground--title {
  color: #111;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.main__about--underground--desc {
  color: #777;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.main__about--underground--bt-book {
  background-color: #BEAD8E;
  padding: 1.5em 2em;
  width: 60%;
  border: none;
  color: white;
}
.main__about--img--terrace {
  width: 80%;
  margin: 0 10%;
  position: relative;
  bottom: 3em;
}
.main__about--team {
  padding: 2em 1em;
}
.main__about--team--strong {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 1em;
  box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.02);
  background-image: url("../media/strongTeam.png");
  background-size: cover;
  background-position: top right;
}
.main__about--team--strong--title {
  color: #111;
  font-family: "Old Standard TT";
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.9em;
}
.main__about--team--strong--desc {
  color: #111;
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 2em;
}
.main__about--luxury {
  margin: auto;
  width: 80%;
  background-color: #222;
}
.main__about--luxury--img {
  width: 100%;
}
.main__about--luxury--desc {
  text-align: center;
  color: white;
  padding: 4em 2em;
}
.main__about--luxury--desc--title {
  font-family: "Old Standard TT";
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.9em;
  margin-top: 0.5em;
}
.main__about--luxury--desc--text {
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0.5em;
}
.main__about--rooms {
  padding: 2em 1em;
  text-align: center;
}
.main__about--rooms--info {
  color: #777;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}
.main__about--rooms--title {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
}
.main__about--rooms .swiper {
  width: 100%;
  height: 200px;
}
.main__about--rooms .swiper-wrapper {
  width: 100%;
}
.main__about--rooms--duplex {
  padding: 1em;
}
.main__about--rooms--duplex--title {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 1.8em;
  font-weight: 400;
}
.main__about--rooms--duplex--desc {
  color: #777;
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
}
.main__about--rooms--duplex--price {
  color: #BEAD8E;
  font-family: "Archivo";
  font-size: 2em;
  font-weight: 700;
  line-height: 2.6em;
}
.main__about--rooms--duplex--night {
  color: #BEAD8E;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
  line-height: 2.6em;
}

.main__video {
  background-color: #222;
  padding: 2em 1em;
}
.main__video--info {
  color: #BDAC8D;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 2em;
}
.main__video--title {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5em;
}
.main__video--desc {
  color: #C2C2C2;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
}
.main__video--repro {
  width: 100%;
  margin: 2em 0;
}
.main__video--bt {
  background-color: #BEAD8E;
  padding: 1.5em 2em;
  width: 60%;
  border: none;
  color: white;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.main__facilities {
  padding: 2em 1em;
}
.main__facilities--info {
  color: #777;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;
  width: fit-content;
  margin: 0 auto;
}
.main__facilities--title {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
  width: fit-content;
  margin: 0.5em auto;
}
.main__facilities--rating {
  float: right;
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo";
  font-size: 7.5em;
  font-weight: 700;
}
.main__facilities--rating--icon {
  position: relative;
  top: 5em;
  margin-bottom: 6em;
}
.main__facilities--subtitle {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.9em;
}
.main__facilities--desc {
  color: #777;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  width: 80%;
}

.main__menu {
  padding: 2em 1em;
}
.main__menu--info {
  color: #777;
  font-family: "Archivo";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.main__menu--title {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-style: normal;
  font-weight: 400;
}
.main__menu--food {
  margin: 2em auto;
}
.main__menu--food--img {
  width: 100px;
  height: 100px;
}
.main__menu--food--text {
  float: left;
}
.main__menu--food--text--title {
  color: #222;
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}
.main__menu--food--text--desc {
  width: 80%;
  color: #222;
  font-family: "Roboto";
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

/*# sourceMappingURL=style.css.map */
