.main__contact--data{
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    justify-content: space-around;

    &--element{
        margin-bottom: 1em;
        border: none;
        background-color: #F8F8F8;
        color: #777;
        font-family: 'Archivo';
        font-size: .9em;
        font-weight: 400;
        padding: 1.5em;
        &--textarea{
            margin-bottom: 1em;
            border: none;
            background-color: #F8F8F8;
            color: #777;
            font-family: 'Archivo';
            font-size: .9em;
            font-weight: 400;
            padding: 1.5em;
        }
    }

    &--send{
        background-color: #BEAD8E;
        color: white;
        padding: 1em 2em;
        border: none;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: 700;
        letter-spacing: .2em;
        margin: 0 2em;
    }
}

@media only screen and (min-width: 1000px){
    .main__contact--data{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 2em;
        margin: auto 25%;
        &--element{
            margin: 0;
            grid-row: span 1;
            &--textarea{
                grid-column: span 2;
            }
        }

        &--send{
            grid-column: span 2;
            width: 25%;
            margin: auto;
        }

    }
}