.main__contact--data{
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    justify-content: space-around;

    &--element{
        margin-bottom: 1em;
        border: none;
        background-color: #F8F8F8;
        color: #777;
        font-family: 'Archivo';
        font-size: .9em;
        font-weight: 400;
        padding: 1.5em;
    }

    &--send{
        background-color: #BEAD8E;
        color: white;
        padding: 1em 2em;
        border: none;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: 700;
        letter-spacing: .2em;
        margin: 0 2em;
    }
}