.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);

    &__left{
        display: inline-block;

        &--logo{
            text-decoration: none;
            color: black;
            margin-left: 1em;
            display: inline-flex;
            align-items: center;

            &--H{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 1.5em;
                margin-right: .5em;
                height: 1.5em;
                box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.212);
                font-size: 1.5em;
            }
    
            &--name{
                font-size: 1em;
            }
        }

        
    }

    &__right{
        float: right;

        &--person{
            margin-right: 1em;
        }
    }

    &__menu{
        display: none;
        width: 100%;

        &--items{
            list-style-type: none;        

            &--link{
                text-decoration: none;
                color: black;
                font-family: 'Archivo';
                font-size: 1em;
                font-weight: 600;
                margin: 1em;
            }
        }
    }
}