.main__menu{
    padding: 2em 1em;

    &--donut{
        position: absolute;
        right: 0;
    }

    &--info{
        color: #777;
        font-family: 'Archivo';
        font-size: .9em;
        font-weight: 700;
        letter-spacing: .2em;
        padding-top: 10em;
    }

    &--title{
        color: #222;
        font-family: 'Old Standard TT';
        font-size: 3.5em;
        font-style: normal;
        font-weight: 400;
    }

    &--food{
        display: flex;

        &--img{
            width: 6.2em;
            height: 6.2em;
        }
        &--text{
            margin-left: 1em;
            &--title{
                color: #222;
                font-family:'Old Standard TT';
                font-size: 1.5em;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5em;
            }

            &--desc{
                width: 80%;
                color: #222;
                font-family: 'Roboto';
                font-size: .9em;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5em;
            }
        }


    }
}