.main__menu{
    padding: 2em 1em;

    &--info{
        color: #777;
        font-family: 'Archivo';
        font-size: .9em;
        font-weight: 700;
        letter-spacing: .2em;
    }

    &--title{
        color: #222;
        font-family: 'Old Standard TT';
        font-size: 3.5em;
        font-style: normal;
        font-weight: 400;
    }

    &--food{
        margin: 2em auto;
        &--img{
            width: 100px;
            height: 100px;
        }
        &--text{
            float: left;
            &--title{
                color: #222;
                font-family:'Old Standard TT';
                font-size: 1.5em;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5em;
            }

            &--desc{
                width: 80%;
                color: #222;
                font-family: 'Roboto';
                font-size: .9em;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5em;
            }
        }


    }
}