.main__facilities{
    padding: 2em 1em;
    
    &--info{
        color: #777;
        font-family: 'Archivo';
        font-size: .9em;
        font-weight: 700;
        letter-spacing: .2em;
        width: fit-content;
        margin: 0 auto;
    }

    &--title{
        color: #222;
        font-family: 'Old Standard TT';
        font-size: 3.5em;
        font-weight: 400;
        width: fit-content;
        margin: .5em auto;
    }

    &--rating{
        &--num{
            float: right;
            color: rgba(34, 34, 34, 0.04);
            font-family: 'Archivo';
            font-size: 7.5em;
            font-weight: 700;
        }

        &--icon{
            position: relative;
            top: 5em;
            margin-bottom: 6em;
        }   

        &--subtitle{
            color: #222;
            font-family: 'Old Standard TT';
            font-size: 1.9em;
            font-weight: 400;
            line-height: 1.9em;
        }

        &--desc{
            color: #777;
            font-family: 'Archivo';
            font-size: .9em;
            font-weight: 400;
            line-height: 1.5em;
            width: 80%;
        }
    }

    .swiper {  
        .swiper-pagination-bullet-active {
          background-color: #BEAD8E;
        }
    }
}
    
  