.main__availability{
    padding: 2em 1em;
    background-color: #222;
    color: white;

    &--form{
        display: flex;
        flex-direction: column;

        &--data{
            display: flex;
            flex-direction: column;
            &--text{
                font-family: 'Roboto';
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 1em;
            }
    
            &--input{
                margin-bottom: 2em;
                border: none;
                border-bottom: 2px solid #BEAD8E;
                background-color: #222;
                color: #686868;
                font-family: 'Roboto';
                font-size: .9em;
                font-weight: 400;
            }
        }    
        &--bt{
            background-color: #BEAD8E;
            padding: 1.5em 2em;
            width: 60%;
            border: none;
            color: white;
        }    
    }
}


@media only screen and (min-width: 1000px){

    .main__availability{
        &--form{
            flex-direction: row;
            justify-content: center;


            &--data{
                margin-left: 2em;
                &--input{
                    width: 20em;
                    margin-bottom: 0;
                }
            }    

            &--bt{
                width: 14%;
                align-self: flex-start;
                margin-left: 10em;
            }
        }
    }

}