.main__us--customer{
    padding: 1em 1em;

    &--title{
        color: #222;
        font-family: 'Old Standard TT';
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.16px;
        text-align: center;
    }

    &--adventages{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}